<div class="page">
    <section class="header">
        <h1>Liste des réservations</h1>
        <button mat-mini-fab color="primary" (click)="this.createNewReservation()">
            <mat-icon>add</mat-icon>
        </button>
    </section>
    <section class="results">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef='reservationId'>
            <th mat-header-cell *matHeaderCellDef> Numéro de réservation </th>
            <td mat-cell *matCellDef="let element"> {{element.reservationid}} </td>
        </ng-container>
        <ng-container matColumnDef='dateDebut'>
            <th mat-header-cell *matHeaderCellDef> Date de début </th>
            <td mat-cell *matCellDef="let element"> {{this.formatDate(element.datedebutres)}} </td>
        </ng-container>
        <ng-container matColumnDef='dateFin'>
            <th mat-header-cell *matHeaderCellDef> Date de fin</th>
            <td mat-cell *matCellDef="let element"> {{this.formatDate(element.datefinres)}} </td>
        </ng-container>
        <ng-container matColumnDef='numMembreReserve'>
            <th mat-header-cell *matHeaderCellDef> Numéro de membre </th>
            <td mat-cell *matCellDef="let element"> {{element.nummembrereserve}} </td>
        </ng-container>
        <ng-container matColumnDef='immatriculationVehicule'>
            <th mat-header-cell *matHeaderCellDef> Immatriculation du véhicule </th>
            <td mat-cell *matCellDef="let element"> {{element.immatriculationvehicule}} </td>
        </ng-container>
        <ng-container matColumnDef='exigencesSupplementaires'>
            <th mat-header-cell *matHeaderCellDef> Demandes supplémentaires </th>
            <td mat-cell *matCellDef="let element"> {{element.exigencessupplementaires}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </section>
</div>