<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/members">Recherche de membres</a>
        <a class="nav-item nav-link active" routerLink="/reservations">Liste de réservations</a>
        <a class="nav-item nav-link active" routerLink="/login">{{this.auth.memberId ? 'Se déconnecter' : 'Se connecter'}}</a>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      Poly Rent-A-Car
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="/reservations">Parcourir les réservations...<mat-icon>arrow_right</mat-icon></button>
  </div>
  <router-outlet></router-outlet>
</div>
