<div class="page">
    <section class="header">
        <h1>Créer une réservation</h1>
    </section>
    <section class="form-container">
        <form [formGroup]="reservationForm">
            <mat-form-field>
                <mat-label>Emplacement</mat-label>
                <input matInput formControlName="location" placeholder="Choisissez un emplacement">
                <mat-error *ngIf="reservationForm.controls['location'].hasError('required')">
                    L'emplacement est requis
                </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Véhicule de préférence</mat-label>
                <mat-select formControlName="vehiclePK" placeholder="Choisissez un véhicule">
                <mat-optgroup *ngFor="let type of vehicles" [label]="group.name">
                    <mat-option *ngFor="let vehicle of type.vehicles" [value]="vehicle.immatriculation">
                        {{vehicle.marque}} {{vehicle.modele}}
                    </mat-option>
                </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="reservationForm.controls['vehicleType'].hasError('required')">
                    Le type de véhicule est requis
                </mat-error>
            </mat-form-field>

            

            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateTime"
                    placeholder="Choose a date and time">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="reservationForm.controls['dateTime'].hasError('required')">
                    La date est requise
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Demandes supplémentaires</mat-label>
                <input matInput formControlName="requirements" placeholder="Entrez vos demandes supplémentaires">
            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button color="primary" (click)="submit()">Soumettre</button>
            </div>
        </form>
    </section>
</div>