<div class="page">
    <section class="header">
        <h1>Créer une réservation</h1>
    </section>
    <section class="form-container">
        <form [formGroup]="reservationForm">
            <mat-form-field>
                <mat-select formControlName="location"
                    placeholder="Choisissez un emplacement">
                        <mat-option *ngFor="let location of this.locations" [value]="location.emplacementid">
                            {{location.numrue}} {{location.rue}}
                        </mat-option>
                </mat-select>
                <mat-label>Emplacement</mat-label>
                <mat-error *ngIf="reservationForm.controls['location'].hasError('required')">
                    L'emplacement est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Période</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="startDate" placeholder="Date de début">
                    <input matEndDate formControlName="endDate" placeholder="Date de fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error
                    *ngIf="reservationForm.controls['startDate'].hasError('required') || reservationForm.controls['endDate'].hasError('required')">
                    Les dates de début et de fin sont requises
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>
                    Véhicule de préférence</mat-label>
                <mat-select formControlName="vehiclePK"
                    [placeholder]="(this.vehicles[0].vehicles.length === 0 && this.vehicles[1].vehicles.length === 0 && this.vehicles[2].vehicles.length === 0) ? 'Aucun véhicule disponible':'Choisissez un véhicule'">
                    <mat-optgroup *ngFor="let type of vehicles" [label]="type.name">
                        <mat-option *ngFor="let vehicle of type.vehicles" [value]="vehicle.immatriculation">
                            {{vehicle.marque}} {{vehicle.modele}} ({{vehicle.immatriculation}})
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
                <mat-error *ngIf="reservationForm.controls['vehiclePK'].hasError('required')">
                    Le véhicule est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Demandes supplémentaires</mat-label>
                <input matInput formControlName="requirements" placeholder="Entrez vos demandes supplémentaires">
            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button color="primary" (click)="submit()">Soumettre</button>
            </div>
        </form>
    </section>
</div>